#main-board {
  canvas {
    position: fixed;
    display: block;
    margin: auto;
    width: 900px;
    height: 900px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
  }

  .game-assets {
    display: none;
  }

  .game-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent url("../images/stock-photo-chinese-go-game-board-close-up-view-of-playing-black-and-white-stone-pieces-719531425.jpg") no-repeat;
    background-size: cover;
  }
}
