<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZGO - About GO</title>

  <link media="all" rel="stylesheet" href="./css/vendor.css">
  <link media="all" rel="stylesheet" href="./css/styles.css">

  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap" rel="stylesheet">
  <style>
    .content_area{
      margin-left: 70px;
    }
    .content_area h1{
      font-size: 40px;
      font-weight: bold;
      color: #1c4587;
      margin-top: 35px;
    }
    .content_area p{
      font-size: 20px;
      color: #1d2124;
      margin-top: 30px;
      font-weight: lighter;
    }

  </style>
</head>
<body>




<div class="context">
  <div class="container">
    <div class="content_area">
      <h1> History of GO </h1>
      <p>หมากล้อมมีชื่อทางการที่เรียกกันทั่วโลก คือ "โกะ"(Go) ในประเทศจีนเรียก “เหวยฉี” (wéiqí 围棋) ประเทศญี่ปุ่นเรียก “อิโกะ” (Igo 囲碁) ประเทศเกาหลีเรียก “บาดุก” (Baduk 바둑) ในประเทศไทยนั้นเรียก "หมากล้อม" (Maklom) โดยแปลจากคำว่า "เหวยฉี" ของจีน “เหวย” แปลว่า การล้อม ปิดกั้น “ฉี” เป็นความหมายของหมากกระดานของจีน เช่น หมากรุกจีนเรียกว่า "เซียงฉี" หมากล้อมไม่มีใครรู้แน่ชัด ว่าถูกคิดค้นขึ้นมาตั้งแต่เมื่อใด เป็นเกมหมากกระดานที่มีประวัติอันยาวนานกว่า 4,000 ปี ถูกคิดค้นขึ้นในประเทศจีน เป็นภูมิปัญญาตะวันออกที่แสดงถึงความเก่าแก่ ลึกซึ้งของอารยธรรมจีนเปี่ยมไปด้วยคุณค่า หมากล้อมจัดเป็น 1 ใน 4 สุดยอดของศิลปะประจำชาติจีนได้แก่ ดนตรี หมากล้อม ลายสือศิลป์ และภาพวาด
        จากในบันทึก “ซื่อเปิ่น”กล่าวว่าหมากล้อมได้ถูกคิดค้นขึ้นโดยกษัตริย์เหยา (尧, Yao Emperor, 2357-2255 BC) เพื่อใช้ในการสอนรัชทายาทของจักรพรรดิเหยาที่มีสติปัญญาไม่ฉลาดนามว่าตันจู (丹朱, Danzhu)  อีกตำนานหนึ่งในบันทึก “โป๋อู้จื้อ” จางฮว๋าแห่งราชวงศ์จิ้นก็ได้กล่าวว่า จักรพรรดิชุ่น (舜, Shun Emperor, 2255-2205 BC) มีรัชทายาทนามว่าชางจวุน(商均,Shangjun) มีสติปัญญาเขลา จึงสร้างหมากล้อมขึ้นเพื่อฝึกสติปัญญาแก่องค์รัชทายาท จักรพรรดิชุ่นเป็นบุคคลในตำนาน เรื่องราวการสร้างหมากล้อมดังกล่าวไม่อาจเชื่อถือได้ บางตำนานกล่าวว่าเหยาและชุ่นคือบุคคลคนเดียวกัน บางครั้งจึงเรียกว่าเหยาชุ่น (尧舜) และยังมีอีกหลายทฤษฎี เช่น ถูกสร้างขึ้นโดยแม่ทัพที่วางแผนการรบบนโต๊ะทราย, ใช้เป็นปฏิทินโบราณที่ใน 1 ปีจะมี 361 วัน และการทำนายโดยจะเห็นว่ากระดานเป็นเหมือนกับจักรวาลและเม็ดหมากเป็นดั่งดวงดาว
      </p>
      <p>
        หมากล้อมนั้นยังถูกอ้างอิงถึงในงานเขียนของขงจื้อ และเม่งจื้อ และกล่าวไว้ด้วยว่าหมากล้อมเป็นเกมที่จำลองยุทธศาตร์, การปกครอง, วิถีชีวิต ที่ได้รับความนิยม และถูกพรรณนาในช่วงยุคชุนชิวของประเทศหลู่ (722-484 BC) จนถึงยุคจั้นกั่ว (ถึงปี 221 BC)
      </p>
      <p>
        ชาวจีนโบราณเปรียบเทียบการเล่นหมากล้อมไว้ว่า เสมือนการสนทนาด้วยมือ (Hand Talk) บางคนบอกว่าหมากล้อมเป็นหมากกระดานที่มีชีวิต เนื่องจากเล่นบนกระดาน 361 จุด บนกระดานหมากล้อมที่เกิดจากเส้นแนวตั้งและเส้นตามขวาง 19 เส้นพาดตัดกัน สร้างความน่าจะเป็นในการวางหมากได้นับล้านๆรูปแบบ ตามหลักคณิตศาสตร์ความน่าจะเป็นเท่ากับ 361! ( 361 x 360 x 359...x 1 หรือเท่ากับ 10 ยกกำลัง 768) จึงทำให้การวางเม็ดหมากมีความลุ่มลึก และทางเลือกมากมาย หมากล้อมจึงเป็นเกมที่ต้องใช่การศึกษาที่ยาวนานเป็นสุดยอดศิลปะทั้งยังเป็น ศาสตร์ท้าทายให้ผู้เล่นศึกษาแนวคิด ในการวางแผน มองการณ์ไกล ค้นหาโอกาส ชิงพื้นที่มาครอบครองภายใต้หลักการ
      </p>
      <p>
        หมากล้อม เป็นเกมกระดานที่ต่างจากหมากกระดานประเภทอื่น ตรงที่เริ่มต้นเกมจาก "ความว่าง" กล่าวโดยนัยนี้ หมากล้อมจึงเป็นเกมกระดานที่แฝงไว้ด้วยปรัชญาแห่ง "สูญตา" จาก "ความว่าง" ก่อเกิด "รูป"  เม็ดหมากที่แต่ละฝ่ายผลัดกันวางบนกระดานหมากล้อมมี "คุณค่า" และ "ความหมาย" ที่ต่างกัน เพราะเม็ดหมากแต่ละเม็ดมิได้มี "คุณค่า" ภายในตัวที่แตกต่างกันตั้งแต่แรก แต่คุณค่าของมันขึ้นอยู่กับมิติสัมพันธ์แห่งรูปทรงที่เม็ดหมากเชื่อมโยงกัน และบริบทที่อยู่รายรอบ
      </p>
      <p>
        หมากล้อมได้เผยแพร่สู่ประเทศญี่ปุ่นซึ่งเป็นแผ่นดินทองของ "หมากล้อม" เมื่อไรไม่มีใครรู้ แต่มีคำกล่าวว่าหมากล้อมได้ถูกนำมาโดย กิบิ โน มากิบิ (Kibi no Makibi)  ในฐานะทูตซึ่งไปประเทศจีน ในช่วงยุคนารา(นะระจิได) ( 710-794 AD) ในปี ค.ศ. 717 และกลับมาในช่วงปี ค.ศ. 735 ตรงกับสมัยราชวงศ์ถังของจีน ซึ่งเป็นยุคที่จีนเจริญรุ่งเรืองทางวัฒนธรรม และการค้าอย่างมาก มีสัมพันธ์ไมตรีกับหลายประเทศ ไม่ว่าจะเป็นรัสเซีย เกาหลี ญี่ปุ่น อาหรับ หรือประเทศในชมพูทวีป ประเทศเหล่านี้ต่างส่งข้าราชการระดับสูง มาศึกษาวิทยาการในแผ่นดินจีน ทั้งด้านการเกษตร การปกครอง ศิลปะและปรัชญา ซึ่งหมากล้อมก็เป็นหนึ่งในวิทยาการ สาขาศิลปะแนวปรัชญา ที่ถูกถ่ายทอดให้กับชาวต่างชาติ ที่เดินทางมาเยือนจีนในขณะนั้น
      </p>
      <p>
        หมากล้อมเติบโตและพัฒนาในประเทศญี่ปุ่นอย่างรวดเร็ว เพราะได้รับความสนใจ และการสนับสนุนอย่างมากจากชนชั้นปกครอง ถึงกับมีการจัดแข่งขันชิงตำแหน่ง "ราชันย์หมากล้อม" ซึ่งญี่ปุ่นเรียกว่า "เมย์จิน (Meijin)" ในปลายยุคของโชกุนปกครองแผ่นดิน โชกุนอิเอยาสุ ตระกูลโตกุกาว่า ซึ่งเป็นโชกุนตระกูลสุดท้ายของญี่ปุ่น ได้สนับสนุนให้ทหารเล่นหมากล้อมเพื่อทดแทนการรบพุ่ง เปลี่ยนการต่อสู้ด้วยอาวุธมาเป็นการต่อสู้ด้วยปัญญา ทั้งยังได้สนับสนุนให้หมากล้อม แพร่หลายเจริญก้าวหน้ายิ่งขึ้น จนในปี ค.ศ.1612 ได้จัดตั้งองค์กรหมากล้อม โดยแบ่งเป็น 4 สำนัก ได้แก่ ฮงอินโบ (Honinbo) ยาสุอิ (Yasui) อิโนอูเอะ (Inoue) และ ฮายาชิ (Hayashi) ผู้ใดก็ตามที่ก้าวขึ้นมาเป็นเจ้าสำนัก จะได้ใช้นามสกุลตามชื่อของสำนักนั้น ซึ่งถือว่าเป็นเกียรติประวัติ และเป็นตัวแทนของตำแหน่งด้วย แต่ละสำนักจะฝึกสอนลูกศิษย์ของตนเอง และคัดเลือกผู้ที่มีฝีมือดีที่สุดไปประชันปัญญากับศิษย์สำนักอื่น ในเกือบทุกปี โชกุน หรือไม่ก็องค์จักรพรรดิจะมาเป็นประธาน ผู้ชนะการแข่งขันจะผลัดเปลี่ยนหมุนเวียนกันไปจากทั้ง 4 สำนัก โดยสำนักฮงอินโบจะมีฝีมือโดดเด่นที่สุด
      </p>
      <p>
        ในปัจจุบัน หมากล้อมเป็นที่นิยมทั่วโลก มีผู้เล่นหมากล้อมกว่า 100 ล้านคน โดยในปีค.ศ. 1979 ได้ก่อตั้งสมาพันธ์หมากล้อมนานาชาติ (IGF-The International Go Federation) มีสมาชิกเริ่มแรก 15 ประเทศ โดยประเทศไทยเป็นสมาชิกเมื่อปี พ.ศ. 1983 ปัจจุบันมีประเทศสมาชิกกว่า 70 ประเทศ  และในประเทศไทยได้มีการจัดตั้งสมาคมหมากล้อมแห่งประเทศไทยในปี ค.ศ. 1993 โดย "คุณก่อศักดิ์ ไชยรัศมีศักดิ์" นายกสมาคมกีฬาหมากล้อมแห่งประเทศไทยและประธานสมาพันธ์หมากล้อมจีนโลก
      </p>
    </div>

  </div>

</div>

</body>
</html>
