<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <section class="wrapper board">
    <main id="main-board">
      <div class="game-bg"></div>
      <canvas id="board-canvas" resize></canvas>
    </main>
  </section>

  <script src="js/vendor.js"></script>
  <script>
    const stonePatterns = [
      ['images/move2.png', 'images/stone.png'],
      ['images/move2.png', 'images/stone.png'],
      ['images/move2.png', 'images/stone.png'],
    ];

    const selectedPattern = stonePatterns[1];

    const maxRow = 9;
    const maxCol = 9;

    const size = 90;

    const offset = 20;

    let allCoords = [];
    let placedCoords = [];

    for (let row = 1; row <= maxRow; row++) {
      for (let col = 1; col <= maxCol; col++) {
        const x = col * size;
        const y = row * size;
        allCoords.push([x, y]);
      }
    }

    console.log(allCoords);
  </script>
  <script type="text/paperscript" canvas="board-canvas">
    let mover = 0;

    const image = new Raster();
    image.source = 'images/board-bg.png';
    image.position = view.center;

    // test dots plotting
    for(let i = 0; i < allCoords.length; i++) {
      const coords = allCoords[i];
      const circle = new Path.Circle({
        center: new Point({
          x: coords[0],
          y: coords[1]
        }),
        radius: 10
      });

      circle.fillColor = '#ff0000aa';
    }

    function onMouseDown(event) {

    }

    function onMouseUp(event) {
      const x = event.middlePoint.x;
      const y = event.middlePoint.y;

      console.log(event.middlePoint);
      endGame();

      if (x < 90 || x > 810 || y < 90 || y > 810) { return }

      let destination = undefined;

      for (let i = 0; i < allCoords.length; i++) {
        const coords = allCoords[i];
        const distance = Math.hypot(x - coords[0], y - coords[1]);

        if (distance <= offset) {
          destination = new Point({
            x: coords[0],
            y: coords[1]
          });

          break;
        }
      }

      if (destination === undefined) {
        return;
      }

      console.log(placedCoords); // []

      let found = false;
      for (let i = 0; i < placedCoords.length; i++) {
        const point = placedCoords[i];
        if (destination.x === point.x && destination.y === point.y) {
          found = true;
          break;
        }
      }

      if (found) {
        return;
      } else {
        placedCoords.push(destination);
      }

      const stone = new Raster();
      stone.source = selectedPattern[mover];

      if (mover === 0) {
        stone.position = destination;
        mover = 1;
      } else if (mover === 1) {
        stone.position = destination;
        stone.width = 88;
        stone.height = 88;
        mover = 0;
      }

      // full board
      if (placedCoords.length === allCoords.length) {
        // full
        endGame();
      }
    }

    function endGame() {
      console.log('end.');
      // tool.remove();
    }
  </script>
</body>

</html>
