<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <section class="wrapper board">
    <main id="main-board">
      <div class="game-assets">
        <img id="bg-board" src="images/placeholder-640-square.jpg" alt="">
      </div>
      <div class="game-bg"></div>
      <canvas id="board-canvas"></canvas>
    </main>
  </section>

  <script src="js/vendor.js"></script>
  <script type="text/paperscript" canvas="board-canvas">
    const image = new Raster();
    image.source = 'images/placeholder-640-square.jpg';
    image.position = view.center;
  </script>
</body>

</html>
