<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EZGO</title>
  <!--  <link media="all" rel="stylesheet" href="./css/vendor.css">-->
  <!--  <link media="all" rel="stylesheet" href="./css/styles.css">-->
  <link rel="stylesheet" href="assets/css/AboutUsstyle.css">
</head>

<body>
<header class="Aboutus">
  <div class="container">
    <div class="Aboutus_area">
      <img src="images/backgroundaboutus.png" alt="">
    </div>
  </div>
</header>
<section class="Group_Name">
  <div class="container">
    <div class="Group_Name_text">
      <h1>PIMMIUM</h1>
    </div>
  </div>
</section>
<section class="infoGroup1">
  <div class="container">
    <div class="Mim_area">
      <h1>MIM</h1>
    </div>
    <img src="images/Mim.jpg" alt="">
  </div>
</section>
<section class="infoGroup2">
  <div class="container">
    <img src="" alt="">
    <div class="Fanta_area">
      <h1>Fanta</h1>
    </div>
  </div>
</section>
<section class="infoGroup3">
  <div class="container">
    <div class="Beam_area">
      <h1>Beam</h1>
    </div>
      <img src="" alt="">
  </div>
</section>
<section class="infoGroup4">
  <div class="container">
    <img src="images/Plotter.png" alt="">
    <div class="Plotter_area">
      <h1>Plotter</h1>
    </div>
  </div>
</section>
<section class="infoGroup5">
  <div class="container">
    <div class="Nine_area">
      <h1>Nine</h1>
    </div>
      <img src="images/Nine.png" alt="">
  </div>
</section>
<section class="Thankmaker">
  <div class="container">
    <div class="Special Thanks_area">
      <h1>Special Thanks</h1>
    </div>
  </div>
</section>





</body>

</html>
