<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EZGO</title>
  <style>
    body {
      background: white url("images/stock-photo-chinese-go-game-board-close-up-view-of-playing-black-and-white-stone-pieces-719531425.jpg");
    }

    h1 {
      text-align: center;
      color: #00c4ff;
    }

    ul li {
      text-align: center;
      font-size: 22px
    }
  </style>
</head>
<body>
<h1>EZGO Menu</h1>
<ul>
  <li><a href="board.html">New Game</a></li>
  <li><a href="calc-grades.html">Calculate Grade</a></li>
  <li>Options</li>
  <li><a href="aboutus.html">Exit</a></li>
</ul>
</body>
</html>
