<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EZGO</title>
  <style>
    body {
      background: white url("images/stock-photo-chinese-go-game-board-close-up-view-of-playing-black-and-white-stone-pieces-719531425.jpg") no-repeat;
      background-size: cover;
    }

    h1 {
      text-align: center;
      color: #5bafc7;
    }

    ul li {
      text-align: center;
      font-size: 22px;
    }
  </style>
</head>
<body>
<h1>EZGO Menu</h1>
<ul>
  <li>New Game</li>
  <li>Options</li>
  <li>Exit</li>
</ul>
</body>
</html>
